<table class="hour">
  <% hours = ParseHelper.print_pretty(day)%>
  <tr>
    <span><td class="time">12AM </td><td><%=hours[0]%></td></span>
  </tr>
  <tr>
   <span><td class="time">3AM </td><td><%=hours[1]%></td></span>  
  </tr>
  <tr>
    <span><td class="time">6AM </td><td><%=hours[2]%></td></span> 
  </tr>
  <tr>  
    <span><td class="time">9AM </td><td><%=hours[0]%></td></span> 
  </tr>
  <tr>
  <span><td class="time">12PM </td><td><%=hours[0]%></td></span>
  </tr>
  <tr>  
  <span><td class="time">3PM </td><td><%=hours[0]%></td></span> 
  </tr>
  <tr>  
    <span><td class="time">6PM </td><td><%=hours[0]%></td></span> 
  </tr>
  <tr>
    <span><td class="time">9PM </td><td><%=hours[0]%></td></span> 
  </tr>
</table>